
SECRET_KEY = 'f9b0be2b833c17c6b143b5857522fb47'

SQLALCHEMY_DATABASE_URI = 'sqlite:///database.sql'

SECURITY_PASSWORD_SALT = 'JH0XBOES8DPSWT5375UED1TT'
SECURITY_REMEMBER_SALT = 'BPIQTT1EY8RQWDGWYFUY15H7'
SECURITY_RESET_SALT = 'COUEGKMK16P5AFU33ENGUHBR'

ADMIN_EMAIL = 'admin'
ADMIN_PASSWORD = 'password04890'

DEBUG = True
