{% extends 'layout.html' %}
{% block body %}
<!-- Begin page content -->
  <div class="container">
    <div class="page-header">
    	<a class="btn btn-small btn-primary pull-right" href="{{ url_for('create_app') }}">Create app hook</a>
      	<h1>{{ self.title() }}</h1>
    </div>
    <p class="lead">Update your application deployment settings, post github update</p>
    <div class="apps">
    	{% for app in apps %}
    		<h3><a class="{% if app.disabled %}disabled{% endif %}" href="{{ url_for('edit_app', application_id=app.id) }}">{{ app.name }}</a></h3>
    	{% endfor %}
    </div>
  </div>
</div>
{% endblock %}
