{% from "macros/forms.html" import form_field, form_fields, form_field_bare %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Github Post-Receive Hook App">
    <meta name="author" content="nicholas.woodhams@gmail.com">

    <title>{% block title %}App Deployer{% endblock title %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/styles.css" rel="stylesheet">
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-block alert-{{ category }} fade in flash">
              <button type="button" class="close fui-cross close-alert"></button>
              {% if message.split('-')[0] %}
                <h3>{{ message.split(' - ')[0] }}</h3>
              {% endif %}
              <p>{{ message.split(' - ')[1] }}</p>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% if current_user.is_authenticated %}
    <div class="container relative">
      <a class="logout" href="/logout">Logout</a>
    </div>
    {% endif %}
    {% block body %}
    {% endblock body %}
    </div>
    <div id="footer">
      <div class="container">
        <p class="text-muted credit">by <a href="https://github.com/nickwoodhams">nick woodhams</a></p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
